/* Large Tablet */

@media only screen and (max-width: 1200px) {}
/* Tablet */

@media only screen and (max-width: 1023px) {}
/* Large mobile, small tablet */

@media only screen and (max-width: 767px) {
    .social-links {
        text-align:left;
    }
    footer p {
        text-align: left
    }
    .steps-col:first-child {
        text-align: center;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .nav-items {
        flex-direction: column;
        margin: 0 auto;
        display: none;
    }
    .nav-items li {
        display: block;
    }
    .mobile-nav-icon {
        display: block;
    }
    .steps-box {
        margin-top: 10px;
    }
    .steps-box:last-child {
        margin-top: 10px;
    }
    .works-steps {
        margin-bottom: 40px;
    }
    .works-step:last-of-type {
        margin-bottom: 60px;
    }
    .app-screen {
        width: 50%;
    }
    .icon-small {
        width: 17px;
        margin-right: 5px;
    }
    .city-feature {
        font-size: 90%;
    }
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    .plan-price {
        font-size: 250%;
    }
    .contact-form {
        width: 80%;
    }
}
/* Mobile */

@media only screen and (max-width: 480px) {}